# Copyright 2020-2022 Laurent Cabaret
# Copyright 2020-2022 Vincent Jacques

include requirements.txt
include integration-tests/readme-example/report.png
include Chrones/instrumentation/cpp/chrones.hpp
